body {
    font-family: 'Roboto Mono', monospace;
    background-color: whitesmoke;
}

h2 {
    font-weight: bold;
    font-size: 3em;
}

h3 {
    font-size: 1.5em;
}

#divLeagueSetupContainer {
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 70vh;
}

#divLSHeaderContainer {
    text-align: center;
}

#divLSHeaderContainer h2 {
    color: #4CAF50;
}

#divLSHeaderH2 {
    margin-bottom: 20px;
}

#divLSLeagueNameLabel {
    margin-bottom: 5px;
}

#divLSLeagueNameText {
    display: flex;
    justify-content: center;
}

#divLSDDLLabel {
    margin-bottom: 5px;
}

#divLSDDLContainer {
    display: flex;
    justify-content: center;
}

#divTeamSetupContainer {
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#teamsTable {
    border: 2px solid black;
}

#teamsTable {
    height: 400px;
}

#teamsTable td {
    width: 500px;
}

#teamsTable label {
    text-align: right;
}

#divDraftSetupContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}

#divDraftSetupContainer h2 {
    color: #4CAF50
}

#divChoicesContainer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100vw;
}

.draftSetupGrid {
    border: 1px solid black;
    width: 20vw;
}

.roundSetupCount {
    width: 35px;
}

#divDSButtonContainer, #divDSCalcBtnContainer, #divDDLNumberOfRoundsContainer {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#divTableCalculatorContainer {
    padding-top: 50px;
}

#tableCalculator th, td {
    padding: 10px 15px;
}

#tableCalculator th {
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#divDraftContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    flex-direction: column;
}

#divDraftContainer h2 {
    color: #4CAF50;
    margin: 50px;
}

#draftBoard {
    width: 95vw;
    border: 2px solid black;
}

#draftBoard th {
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 2px solid black;
    width: 150px;
    height: 60px;
}

#draftBoard td {
    border: 1px solid black;
    width: 150px;
    height: 125px;
}

#divRoundInfoContainer {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95vw;
}

#divRoundInfo {
    display: flex;
    flex-direction: column;
    width: 20%;
}

#divDraftPlayerSelector {
    width: 60%
}

